<div class="professional-block">
  <h3 class="professional-name">
    @if (link) {
      <a href="{{ link }}" class="underline" target="_blank" rel="noopener noreferrer">{{ name }}</a>
    }
    @else {
      {{ name }}
    }
  </h3>

  <h4 class="professional-institution">
    {{ institution }}
  </h4>

  <div class="professional-date">
    <div class="professional-date-items">
      {{ date }}
    </div>
    @if (date && place) {
      <p class="px-[0.5rem]"> | </p>
    }
    <div class="professional-date-items">
      {{ place }}
    </div>
  </div>

  @if (design) {
    <div class="underline">
      <a href="{{ design }}" class="underline" target="_blank" rel="noopener noreferrer">Check the design here</a>
    </div>
  }

  @if (repository) {
    <div class="underline">
      <a href="{{repository}}" class="underline" target="_blank" rel="noopener noreferrer">Check the repository here</a>
    </div>
  }


  <div class="professional-description">
    {{ description }}
  </div>

  @if (technologies && technologies.length > 0) {
    <h5 class="mt-[1rem]">Technologies</h5>
    <div class="professional-technologies">
      @for (tech of technologies; track $index) {
        <p>{{ tech }}</p>
      }
    </div>
  }

  @if (image) {
    <img src="{{image}}" alt="{{name}}" class="project-image">
  }
</div>
