<div class="professional-block">
  <h3 class="professional-name">
    @if (link) {
      <a href="{{ link }}" class="underline">{{ name }}</a>
    }
    @else {
      {{ name }}
    }
  </h3>

  <h4 class="professional-institution">
    {{ institution }}
  </h4>

  <div class="professional-date">
    {{ date }} | {{ place }}
  </div>

  @if (design) {
    <div class="">
      <a href="{{ design }}" class="underline">Check the design here</a>
    </div>
  }

  @if (repository) {
    <div class="">
      <a href="{{repository}}" class="underline">Check the repository here</a>
    </div>
  }


  <div class="professional-description">
    {{ description }}
  </div>

  <div class="professional-technologies">
    @for (tech of technologies; track $index) {}
    {{ technologies }}
  </div>

  @if (image) {
    <img src="image" alt="name" class="mw-100 h-auto">
  }
</div>
