<div class="professional-block">
  <h3 class="professional-name">
      {{ name | translate }}
  </h3>

  <h4 class="professional-institution">
    {{ institution | translate }}
  </h4>

  <div class="professional-date">
    <div class="professional-date-items">
      {{ date | translate }}
    </div>
    @if (date && place) {
      <p class="px-[0.5rem]"> | </p>
    }
    @if (place) {
      <div class="professional-date-items">
        {{ place | translate }}
      </div>
    }
  </div>

  <div class="lg:flex lg:row lg:justify-between ">
    @if (link) {
      <link-button
      class="lg:mb-0 mb-[5px]"
      [link]="link"/>
    }

    @if (design) {
      <link-button
      class="lg:mb-0 mb-[5px]"
      [link]="design"
      [design]="true"/>
    }

    @if (repository) {
      <link-button
      class="lg:mb-0 mb-[5px]"
      [link]="repository"
      [repository]="true"/>
    }
  </div>


  @if (description) {
    <div class="professional-description">
      {{ description | translate }}
    </div>
  }

  @if (technologies && technologies.length > 0) {
    <h5 class="mt-[1rem] text-main-title-color">{{ 'UI.block_subtitles.technologies' | translate }}</h5>
    <div class="professional-technologies">
      @for (tech of technologies; track $index) {
        <p>{{ tech | translate}}</p>
      }
    </div>
  }

  @if (image) {
    <img src="{{image}}" alt="{{name}}" class="project-image">
  }
</div>
