<professional-title
[title]="'UI.block_titles.experience' | translate"
  (toggle)="onToggle($event)"
/>

@if(!isToggled){
  @for (experienceItem of experienceList; track $index) {
    <professional-block
      [name]="experienceItem.title | translate"
      [institution]="experienceItem.institution | translate"
      [date]="experienceItem.date | translate"
      [place]="experienceItem.place | translate"
      [description]="experienceItem.description | translate"
      [technologies]="experienceItem.technologies"
    />
  }
}
