@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.title-100 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.title-200 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.title-300 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.title-400 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.title-500 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.title-600 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.title-700 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.title-800 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.text-100 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.text-200 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.text-300 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.text-400 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.text-500 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.text-600 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.text-700 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.text-800 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

@layer base {
  a {@apply text-main-title-color underline};
  h1 {@apply text-[50px] leading-[50px] title-600 mb-1};
  h2 {@apply text-4xl title-600 mb-1};
  h3 {@apply text-2xl title-600 mb-1};
  h4 {@apply text-lg title-500 mb-1};
  h5 {@apply text-base title-500 mb-1 leading-4   };
  h6, p, span, thead, button {@apply text-400 text-sm mb-1 text-main-title-color };
}

@layer components {

  portfolio-nav-bar { @apply fixed top-[1rem] right-[1rem] z-50 }
  .portfolio-nav-bar { @apply flex flex-col  }

  .nav-button { @apply bg-detail-complementary border-[2px] rounded-full border-detail cursor-pointer h-[2rem] w-[2rem] items-center justify-center mb-1 hover:transition-all hover:bg-detail-third hover:duration-[0.25s] }
  .language-toggle-list { @apply w-[4.5rem] p-[5px] place-content-center rounded fixed right-[1.5rem] transform translate-y-2/4 border-detail bg-detail-complementary }
  .language-button { @apply w-[3.5rem] place-content-center hover:transition-all hover:bg-detail-third hover:duration-[0.25s]  }

  .portfolio-body { @apply  bg-gradient-to-b from-page-backgound-top-gradient via-page-backgound-mid-gradient to-page-backgound-bottom-gradient }

  .personal { @apply pr-[2rem] misc-primary }

  .presentation-title { @apply my-[0.75rem] text-700 text-main-description-color text-pretty text-[1.5rem] leading-[2rem] }
  .presentation-description { @apply text-[1.5rem] my-[0.5rem] leading-[1.5rem] text-justify }

  .professional { @apply md:w-full bg-main-background-color/75 p-[1rem] rounded-[10px] }
  .professional-title { @apply w-[60%]  md:w-[60%] lg:w-[50%] flex justify-between bg-main-block-title-color text-main-title-color pl-[2rem] rounded-[5px] text-500 md:text-lg cursor-pointer }
  .professional-line { @apply w-[40%]  md:w-[50%] lg:w-[60%] border-main-block-title-color my-auto cursor-pointer }

  .professional-block { @apply my-[1.5rem] }

  .professional-name { @apply text-main-title-color text-600 mb-[-0.1rem] text-pretty }
  .professional-institution { @apply text-main-title-color my-[-0.1rem] text-pretty }
  .professional-date { @apply text-main-subtitle-color my-[-0.1rem] text-pretty flex }
  .professional-date-items { @apply text-400 }
  .professional-description { @apply text-main-description-color text-pretty }
  .professional-skills { @apply grid gap-4 grid-cols-2 md:grid-cols-3 grid-rows-3 my-[1rem] text-main-description-color }
  .professional-technologies { @apply grid gap-1 grid-cols-2 md:grid-cols-3 grid-rows-3 md:p-[1rem] text-pretty text-main-description-color }
  .project-image { @apply max-w-full lg:max-w-lg h-auto mx-auto }

  .error {@apply text-red-500 text-sm}
  .info {@apply text-sm}
  .success {@apply text-green-500 text-sm}
  .toggle-chevron { @apply m-[2px] border rounded-full p-[2px] transition-transform duration-300}
  toggle-chevron { @apply  m-[2px] justify-items-center items-center}

  .misc-secondary { @apply text-misc-secondary-color text-400 }
  .misc-primary { @apply text-misc-primary-color }

  .personal-info-block { @apply rounded-[10px] items-center bg-misc-secondary-color/25 mb-[0.5rem] p-[1rem] text-pretty }
  .personal-info-contact { @apply flex flex-row w-[260px] rounded-[10px] py-[0.5rem] items-center bg-misc-secondary-color/25 mb-[0.5rem] text-pretty }
  .personal-info-svg { @apply size-5 mx-[0.5rem] text-pretty }
  .personal-list { @apply w-fit }

  .email { @apply flex flex-row justify-items-center items-center text-pretty }

  .social { @apply text-pretty break-words }

  .language { @apply flex flex-row justify-between w-full }
  .language-table { @apply table-auto border-misc-secondary-color w-full }
  .language-table-body { @apply w-full }
  .language-table-item { @apply w-[50%] }

  .hobby-container { @apply grid gap-2 grid-cols-2 md:grid-cols-4 justify-items-center items-center text-pretty }
  .hobby-item { @apply flex flex-col justify-items-center items-center text-pretty my-auto }
  .hobby-image-container { @apply h-[2rem] justify-items-start self-center text-pretty }
  .hobby-image { @apply h-[2rem] my-auto text-misc-primary-color }

  .portfolio-footer { @apply flex place-content-center bg-page-backgound-bottom-gradient h-[2rem] }
  portfolio-footer p { @apply place-content-center bg-main-background-color/75 w-full h-full text-center }

}
