@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.title-100 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.title-200 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.title-300 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.title-400 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.title-500 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.title-600 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.title-700 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.title-800 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.text-100 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.text-200 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.text-300 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.text-400 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.text-500 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.text-600 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.text-700 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.text-800 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

@layer base {
  h1 {@apply text-[50px] leading-[50px] title-600 mb-1};
  h2 {@apply text-4xl title-600 mb-1};
  h3 {@apply text-2xl title-600 mb-1};
  h4 {@apply text-lg title-500 mb-1};
  h5 {@apply text-base title-500 mb-1 leading-4   };
  h6, p, span {@apply text-400 text-sm mb-1 };
}

@layer components {

  .portfolio-body { @apply  bg-gradient-to-b from-page-backgound-top-gradient via-page-backgound-mid-gradient to-page-backgound-bottom-gradient }

  .personal { @apply md:w-1/3 misc-primary }

  .presentation { @apply my-[0.75rem] text-500 text-main-description-color text-pretty  }

  .professional { @apply md:w-2/3 bg-main-background-color p-[1rem] rounded-[10px] }
  .professional-title { @apply w-[60%]  md:w-[40%] flex justify-between bg-main-block-title-color text-main-background-color pl-[2rem] rounded-[5px] text-500 text-lg }
  .professional-line { @apply w-[40%]  md:w-[60%] border-main-block-title-color my-auto }

  .professional-block { @apply my-[1.5rem] }

  .professional-name { @apply text-main-title-color text-600 mb-[-0.1rem] text-pretty }
  .professional-institution { @apply text-main-title-color my-[-0.1rem] text-pretty }
  .professional-date { @apply text-main-subtitle-color my-[-0.1rem] text-pretty flex }
  .professional-date-items { @apply text-400 }
  .professional-description { @apply text-main-description-color text-pretty }
  .professional-technologies { @apply grid gap-2 grid-cols-2 md:grid-cols-3 grid-rows-3 my-[1rem]}
  .project-image { @apply max-w-full lg:max-w-lg h-auto mx-auto }

  .error {@apply text-red-500 text-sm}
  .info {@apply text-sm}
  .success {@apply text-green-500 text-sm}
  .toggle-chevron { @apply m-[2px] border rounded-full p-[2px] transition-transform duration-300}
  toggle-chevron { @apply  m-[2px] justify-items-center items-center}
  // .rotate-180 { @apply border-[5px] }

  .misc-secondary { @apply text-misc-secondary-color text-400 }
  .misc-primary { @apply text-misc-primary-color }

}
