<professional-title
  [title]="'WHO AM I'"
  (toggle)="onToggle($event)"
/>

@if(!isToggled){
  <article class="presentation">
    <span class="presentation_lg">
        <span class="presentation_sl"></span>
        <span class="presentation_text">
          <h2> {{ presentation.title }} </h2>
          <p class="presentation-description"> {{ presentation.description }} </p>
          <h3> 💻 Professional Background </h3>
          <p> {{ presentation.proffesionalBackground }} </p>
        </span>
    </span>
  </article>

}
