<professional-title
  [title]="'UI.block_titles.who_am_i' | translate"
  (toggle)="onToggle($event)"
/>

@if(!isToggled){
  <article class="presentation">
    <span class="presentation_lg">
      <span class="presentation_sl"></span>
      <span class="presentation_text">
        <h2>{{ 'presentation.title' | translate }}</h2>
        <p class="presentation-description">{{ 'presentation.description' | translate }}</p>
        <h3>💻 Professional Background</h3>
        <p>{{ 'presentation.professional_background' | translate }}</p>
      </span>
    </span>
  </article>

}
