/* From Uiverse.io by mrhyddenn */
.presentation {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  color: #0f1923;
  cursor: pointer;
  position: relative;
  padding: 8px;
  margin: 20px 0px;
  font-weight: bold;
  font-size: 14px;
  transition: all .15s ease;
}

.presentation::before,
.presentation::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(50% - 5px);
  border: 1px solid #7D8082;
  transition: all .15s ease;
}

.presentation::before {
  top: 0;
  border-bottom-width: 0;
}

.presentation::after {
  bottom: 0;
  border-top-width: 0;
}

.presentation:active,
.presentation:focus {
  outline: none;
}

.presentation:active::before,
.presentation:active::after {
  right: 3px;
  left: 3px;
}

.presentation:active::before {
  top: 3px;
}

.presentation:active::after {
  bottom: 3px;
}

.presentation_lg {
  position: relative;
  display: block;
  padding: 10px 20px;
  color: #fff;
  background-color: #0f1923;
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

.presentation_lg::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: #0f1923;
}

.presentation_lg::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  background-color: #0f1923;
  transition: all .2s ease;
}

.presentation_sl {
  display: block;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -8px;
  width: 0;
  background-color: rgba(106, 89, 181, 0.701);
  transform: skew(-15deg);
  transition: all .2s ease;
}

.presentation_text {
  position: relative;
}

.presentation:hover {
  color: #0f1923;
}

.presentation:hover .presentation_sl {
  width: calc(100% + 15px);
}

.presentation:hover .presentation_lg::after {
  background-color: #fff;
}
