/* From Uiverse.io by alshahwan */
button {
  background-color: rgba(2, 12, 44, 0.316);
  border: 1px solid rgba(245, 245, 245, 1);
  padding: 5px;
  position: relative;
  width: 5.5rem;
  height: 2em;
  transition: 0.5s;
  font-size: 17px;
  border-radius: 0.4em;
  margin: 0.5rem 0;
}

button p {
  position: absolute;
  top: 0.4em;
  right: 1.15em;
  margin: 0;
  padding: 0;
  transition: .5s;
  font-weight: 600;
  color: rgba(245, 245, 245, 1);
}

button img {
  position: absolute;
  top: 0.45em;
  left: 0.5em;
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: 0.5s;
  height: 1em;
  fill: rgba(245, 245, 245, 1);
}

button:hover p {
  right: 0.5em;
  color: rgba(245, 245, 245, 1);
}

button:hover img {
  opacity: 1;
}

button:hover {
  background-color: rgba(106, 89, 181, 0.701);
}

.button {
  display: block;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -8px;
  width: 0;
  background-color: rgba(106, 89, 181, 0.701);
  transform: skew(-15deg);
  transition: all .2s ease;
}

button:hover .button {
  width: calc(100% + 15px);
}
