<a href="{{ link }}"
target="_blank"
rel="noopener noreferrer">
  <button class="button-icon">
    <p class="side front">
      @if (repository) {
        {{ 'UI.buttons.github' | translate }}
      }
      @else if (design) {
        {{ 'UI.buttons.design' | translate }}
      }
      @else {
        {{ 'UI.buttons.link' | translate }}
      }
    </p>
    <div class="icon">
      <img src="{{ image }}"
      alt="redirect logo"
      class="link-image bi bi-whatsapp"
      width="16" height="16" fill="currentColor">
    </div>
  </button>
</a>
