<professional-title
  [title]="'UI.block_titles.projects' | translate"
  (toggle)="onToggle($event)"
/>

@if(!isToggled){
  @for (project of projectList; track $index) {
    <professional-block
      [name]="project.name | translate"
      [link]="project.link! | translate"
      [description]="project.description | translate"
      [design]="project.design! | translate"
      [repository]="project.repository! | translate"
      [date]="project.date | translate"
      [image]="project.image! | translate"
    />
  }
}
